<div class="about-section">
  <h1>About Us Page</h1>
  <p>Some text about who we are and what we do.</p>
  <p>Resize the browser window to see that this page is responsive by the way.</p>
</div>

  <div class="column">
    <div class="card">
      <img src="https://d3h2k7ug3o5pb3.cloudfront.net/image/2020-12-05/a7b7d490-36c2-11eb-a219-73e9ca8fa2ef.jpg" alt="John" style="width: 100%">
      <div class="container">
        <h2>John</h2>
        <p class="title">Designer</p>
        <p>Some text that describes about the articles.</p>
        <p>news@example.com</p>
        <p><button class="button">Contact</button></p>
      </div>
    </div>
  </div>
</div>