

<html>
<head>
    <h1 style="text-align:center;">HOME PAGE</h1>
</head>



<body>
<h2 style="text-align:left;">Welcome to The Home Page</h2>
</body>
<div class="row">
    <div class="column news">
      <div class="content">
        <img src="https://img2.storyblok.com/1120x292/filters:format(webp)/f/47007/2400x626/9990599857/how-to-build-a-news-app-banner.png" alt=news" style="width: 100%">
        <h4>NEWS</h4>
      </div>
<p>The way we consume news has shifted dramatically in the last decade and having a dedicated website is no longer enough. 
    Users expect updates to be immediately available and accessible via multiple devices, and easy to share across their social media networks.
     News apps have also become increasingly important for users who want to avoid consuming news via social media and digest news from a reliable source
</p>

</html>